/*#

#save_button {
	background-color: #ffffff;
	margin-left: 3em;
	color: #3b5998;
	border: solid #3b5998;
	border-width: thin;
}

#delete_button {
	background-color: #ffffff;
	margin-left: 3em;
	margin-right: 3em;
	color: #3b5998;
	border: solid #3b5998;
	border-width: thin;
}

#share_button {
	margin-left: 3em;
	background-color: #ffffff;
	border: solid #3b5998;
	border-width: thin;
}



#controls_div {
	padding: 1em 1em 0.5em 1em;
}

.effects_div {
	height: 4em;
	width: 5em;
	padding: 0em;
	margin: 0em;
}

.effects_thumbnail {
	height: 5em;
	max-width: 100%;
}

.effect_name_paragraph {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

.card {
	padding-top: 1.4em;
	padding-right: 0.2em;
	padding-left: 0.2em;
}



#upload_icon {
	margin-right: 0.5em;
}

.frederika_placeholder {
	font-family: 'Fredericka the Great', cursive;
	font-size: 10em;
	color: #ababab;
}

.frederika_dash_instructions {
	font-family: 'Fredericka the Great', cursive;
	font-size: 2em;
	color: #ababab;
}*/

#header_div {
	background: #b0bec5;
	min-height: 3.5em;
}

#header_logo {
	font-family: 'Lobster', cursive;
	font-size: 2em;
	margin: 0px;
	cursor: pointer;
}

#dashboard_body {
	height: 44.5em;
	/*background-color: #0000ff;*/
	padding: 3em;
}

#main_dashboard_div {
	min-height: 48em;
}

#uploads_div {
	height: 41em;
	/*background-color: #ffffff;*/
}

#upload_control_div {
	height: 41em;
	/*background-color: #00ff00;*/
}

div.uploaded_photos_div {
	height: 35em;
	/*background-color: wheat;*/
	overflow: scroll;
}

div.upload_button_div {
	height: 5em;
	/*background-color: aqua;*/
}

#upload_clicked_div {
	height: 24em;
	/*background-color: #e0e0e0;*/
}

#upload_clicked_div .main_photo_div {
	height: 24em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#upload_share_div {
	height: 5em;
	/*background-color: #ffffff;*/
}

.upload_cards {
	border: solid #bdbdbd;
	border-width: thin;
	border-radius: 5px;
}

.upload_cards div {
	height: 8em;
}

.upload_cards div img {
	max-width: 100%;
	max-height: 100%;
}

.upload_file_name {
	font-weight: bold;
	color: #bdbdbd !important;
	word-wrap: break-word !important;
}

#upload_button {
	background-color: #424242;
	margin-top: 2em;
	padding-right: 1em;
	text-transform: capitalize;
}

#upload_button i {
	padding: 0em 1em;
}

.grey_darken_3 {
	color: #424242 !important;
}

.fa_rounded_buttons {
	font-size: 3em;
	color: white;
}

/* position the FAB just the way we want it*/
.fixed-action-btn {
	right: 0px;
	bottom: 0px;
	padding: 0px;
	margin: 0px;
}

/* The FAB buttons should appear on the same line*/
.fixed-action-btn.horizontal ul li {
	margin: 0 15px 0 0;
}

#effect_thumbnails_div {
	overflow-y: hidden;
	overflow-x: scroll;
	height: 11em;
}

#effect_thumbnails_div div div .effect_preview_span {
	 height: 6em;
	 background-size: contain;
	 background-repeat: no-repeat;
	 background-position: center;
	 display: inline-block;
	 margin: 1em;
	 width: 11em;
}

#effect_thumbnails_div div div .effect_name{
	 background-color: #b0bec5;
	 font-weight: bold;
	 color: #ffffff;
	 border-radius: 5px;
	 margin: 0em 3em 0em 3em;
	 position: relative;
	 text-align: center;
}

#effect_thumbnails_div div p {
	font-size: 1em;
}

.effect_name_span {
	color: #ffffff;
	font-weight: bold;
	background-color: #000000;
}

#username_div {
	display: inline-block;
	margin: 1em;
	transform: translateY(-1em);
	font-weight: bold;
	color: #424242;
	text-transform: capitalize;
}

#username_div span {
	font-weight: normal;
}
#user_profile_picture_div {
	display: inline-block;
	height: 3em;
	width: 3em;
	border: solid;
	border-width: thin;
	border-radius: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#logout_button {
	border: solid 1px;
	transform: translateY(-1em);
	padding: 0em 1em;
	text-transform: capitalize;
}