#beach_div {
	background-color: #efefef;
	margin: auto;
	min-height: 20em;
	max-height: 27em;
	border-radius: 5px;
	max-width: 23em;
}

#logo {
	height: 10em;
	padding-top: 1em;
}

#fb_logo {
	margin-right: 0.5em;
}

#login_button {
	background-color: #3b5998;
}

#app_description {
	font-size: 2em;
}

#logo_div {
	padding: 1em;
}

#login_button_div {
	padding-top: 1em;
	padding-bottom: 3em;
}

#logout_button_div {
	padding-top: 1em;
	padding-right: 4em;
}

#logout_button {
	background-color: #3b5998;
}