{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="vistagrid">
<head>
	<!-- Scripts - Framework -->
	<script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'bower_components/typed.js/dist/typed.min.js' %}"></script>
	<script src="{% static 'bower_components/Materialize/dist/js/materialize.js' %}"></script>
	<script src="{% static 'bower_components/angular/angular.js' %}"></script>
	<script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
	<script src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
	<script src="{% static 'bower_components/ng-file-upload/ng-file-upload-shim.js' %}"></script>
	<script src="{% static 'bower_components/ng-file-upload/ng-file-upload.js' %}"></script>
	<script src="{% static 'bower_components/sweetalert/dist/sweetalert.min.js' %}"></script>
	<!-- Scripts - mine -->
	<script src="{% static 'js/app.js' %}"></script>
	<script src="{% static 'js/services/PhotoService.js' %}"></script>
	<script src="{% static 'js/services/AuthService.js' %}"></script>
	<script src="{% static 'js/controllers/LoginController.js' %}"></script>
	<script src="{% static 'js/controllers/DefaultController.js' %}"></script>
	<script src="{% static 'js/controllers/DashboardController.js' %}"></script>
	<!-- Css -->
	<link rel="stylesheet" href="{% static 'bower_components/Materialize/dist/css/materialize.css' %}">
	<link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'bower_components/sweetalert/dist/sweetalert.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<title>Vistagrid</title>
</head>
<body>
	<header>
	</header>
	<main style="background-image: url('static/images/landing.jpg');">
		{% block content %}
		{% endblock %}
	</main>
	<footer class="page-footer">
		<div class="footer-copyright">
			<div class="container black_text">
			© 2016 <a class="link" href="http://www.andela.com/">Andela</a>. A project by Lewis Kabui from Andela. #TIA
				<span class="right black_text">
					Repo: <a class="link" href="https://github.com/andela-lkabui/checkpoint4">checkpoint4</a>
				</span>
			</div>
		</div>
	</footer>
</body>
</html>