<div class="row">
	<div class="col s12">
		<div class="row">
			<div class="center">
				<div class="col s3" style="background-color: #ffffff; height: 35em; overflow: scroll;">
					<div style="background-color: #000000; height: 10em; margin: 1em;"></div>
					<div style="background-color: #000000; height: 10em; margin: 1em;"></div>
					<div style="background-color: #000000; height: 10em; margin: 1em;"></div>
					<div style="background-color: #000000; height: 10em; margin: 1em;"></div>
					<div style="background-color: #000000; height: 10em; margin: 1em;"></div>
				</div>
				<div class="col s9" style="background-color: #757575; height: 35em;">
					<div class="row">
						<div style="height: 5em; background-color: antiquewhite; margin: 1em;">Controls</div>
						<div style="background-color: cyan; height: 19em; margin: 1em;">Main Display</div>
						<div style="background-color: floralwhite; height: 7em; margin: 1em;">Effects List</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>