<div class="row" id="main_dashboard_div">
	<!-- Header -->
	<div class="navbar-fixed">
		<nav class="blue-grey lighten-3">
			<div class="nav-wrapper blue-grey lighten-3">
				<a href="/#/" id="header_logo" class="grey-text text-darken-3">Vistagrid</a>
				<ul class="right hide-on-med-and-down">
					<li><div id="user_profile_picture_div" style="background-image: url([[profile_picture]]);"></div></li>
					<!-- Dropdown Trigger -->
					<li>
						<a class="dropdown-button" href="#!" data-activates="dropdown1">[[ username ]]<i class="material-icons right">arrow_drop_down</i></a><ul id="dropdown1" class="dropdown-content" style="width: 143px; position: absolute; top: 0px; left: 589.594px; opacity: 1; display: none;">
							<li><a href="[[ logout_url ]]" class="grey-text text-darken-3" ng-click="logout()">Logout</a></li>
					</ul></li>
				</ul>
			</div>
		</nav>
	</div>





	<!-- Below the header -->
	<div class="col s12" id="dashboard_body">
		<div class="col s3" id="uploads_div">
			<!-- Tabs (3em) -->
			<div class="row" style="height: 3em;">
				<ul class="tabs">
					<li class="tab col s3"><a class="active" href="#upload_photos">Upload Photos</a></li>
					<li class="tab col s3"><a href="#recent_edits" ng-click="getRecentEdits()">Recent Edits</a></li>
				</ul>
			</div>
			<!-- Recent edits strips -->
			<div id="recent_edits" style="height: 37em;" class="row">
				<div class="col s6" ng-repeat="recent in recentEdits" ng-click="recentEditClicked(recent.photo_edit_id)">
					<div class="recent_div" style="background-image: url([[recent.upload]]); height: 5em; background-repeat: no-repeat; background-size: cover; margin: 0.5em;">

					</div>
				</div>
			</div>
			<!-- Uploaded photos strip -->
			<div id="upload_photos" style="height: 37em;" class="row">
				<div class="upload_button_div">
					<div class="center">
						<a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Upload a photo" id="upload_button" ngf-select="uploadNewPhoto($file, $invalidFiles)" accept="image/*"><i class="fa fa-upload"></i>Upload</a>
					</div>
					<!-- Progress indicator as photo is being uploaded -->
					<div class="progress" ng-show="uploadInProgress">
						<div class="indeterminate"></div>
					</div>
				</div>
				<!-- Uploads strip -->
				<div class="uploaded_photos_div">
					<div class="card" ng-repeat="upload in uploads" class="upload_cards">
						<div class="card-image">
							<img ng-src="[[upload.path]]" ng-click="uploadClicked(upload.photo_id, upload.file_url)">
						</div>
						<div class="card-content">
							<p class="upload_file_name">[[upload.file_name]]</p>
						</div>
					</div>
				</div>
			</div>

		</div>


		<div class="col s9" style="height: 41em; background-color: #fafafa;" ng-show="!uploadPhotoClicked">
			<!-- To be displayed when no upload photo has been clicked yet -->
			<div ng-show="!editClicked">
				<div style="height: 29em;" class="valign-wrapper">
					<div id="placeholder_logo" class="center valign">Vistagrid</div>
				</div>
				<div style="height: 11em;" class="valign-wrapper">
					<div class="valign" id="placeholder_instructions">
						[[ uploads.length > 0? dashboardInstructions.hasUploads: dashboardInstructions.noUploads]]
					</div>
				</div>
			</div>
			<!-- To be displayed when PhotoEdit has been clicked -->
			<div ng-show="editClicked">
				<div style="height: 37em; padding: 3em;" class="valign-wrapper">
					<div class="center valign tooltipped" data-position="bottom" data-delay="50" data-tooltip="[[amsterdam.file_name]]" id="editedMainDisplay" style="background-image: url([[amsterdam.upload]]); background-size: contain; background-repeat: no-repeat; height: 100%; width: 100%; margin: 1em; background-position: center;">
					</div>
				</div>
			</div>
		</div>

		<!-- To be displayed when a photo has been clicked -->
		<div class="col s9" id="upload_control_div" ng-show="uploadPhotoClicked">
		<!-- Share, control and delete buttons section -->
			<div class="col 12" id="upload_share_div">
				<div class="fixed-action-btn horizontal right valign-wrapper" style="position: relative; height: 5em;">
					<a class="btn-floating btn-large btn-flat blue-grey lighten-3 valign">
						<i class="fa fa-ellipsis-h grey_darken_3"></i>
					</a>
					<ul>
						<li>
							<a class="btn-floating btn-large btn-flat waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete Photo" id="delete_button" ng-click="deletePhoto()"><i class="fa fa-trash fa_rounded_buttons"></i></a>
						</li>
						<li>
							<span class="btn-floating btn-large btn-flat waves-effect waves-light blue tooltipped" data-position="bottom" data-delay="50" data-tooltip="Share Photo" id="share_button" ng-click="shareViaFacebook()"><i class="fa fa-share fa_rounded_buttons"></i></span>
						</li>
						<li>
							<a class="btn-floating btn-large btn-flat waves-effect waves-light teal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Save Photo" id="save_button" ng-click="saveEdits()"><i class="fa fa-floppy-o fa_rounded_buttons"></i></a>
						</li>
					</ul>
				</div>
			</div>


			<!-- Main display section -->
			<div class="col s12" id="upload_clicked_div">
				<div class="main_photo_div col s12" style="background-image: url([[clickedPhoto.path]]);" >
				</div>
			</div>
			<!-- Effects preview section -->
			<div class="col s12" id="effect_thumbnails_div">
				<!-- Width more than 100% triggers horizontal scroll in HTML-->
				<div style="width: 150%; height: 100%" ng-hide="loadingThumbnails">
					<div style="display: inline-block;" ng-repeat="thumbnail in thumbnails">
						<div class="effect_preview_span"  style="background-image: url([[thumbnail.path]]);" ng-click="effectPreview(thumbnail.effect_id)" >
						</div>
						<div class="effect_name">[[ thumbnail.effect_name ]]</div>
					</div>
				</div>

				<div class="valign-wrapper" ng-show="loadingThumbnails" style="height: 11em;">
					<div class="progress valign"  style="width: 50%; margin: auto;">
						 <div class="indeterminate"></div>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>
<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
</script>
<!-- <div class="row"> -->
	<!-- <div class="col s12" style="background-color: #efefef; min-height: 42em;">
		<div class="row">
			<div class="center">
				<div class="col s2">
					<div class="row" style="height: 35em; overflow: scroll;">
						<div class="card" ng-repeat="upload in uploads" style="border: solid #616161; border-width: thin; border-radius: 5px;">
							<div class="card-image" style="height: 8em;">
								<img ng-src="[[upload.path]]" ng-click="uploadClicked(upload.photo_id, upload.file_url)" style="max-width: 100%; max-height: 100%;">
							</div>
							<div class="card-content">
								<p class="upload_file_name">[[upload.file_name]]</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="center">
							<a class="waves-effect waves-light btn" id="upload_button" ngf-select="uploadNewPhoto($file, $invalidFiles)" accept="image/*"><i id="upload_icon" class="fa fa-upload"></i>Upload</a>
						</div>
					</div>
				</div>
				<div class="col s10">
					<div class="row right" id="controls_div" ng-show="showMain">
						<span class="btn-floating btn-large btn-flat waves-effect waves-light" id="share_button" ng-click="shareViaFacebook()"><i class="fa fa-share facebook_blue_icon"></i></span>
						<a class="btn-floating btn-large btn-flat waves-effect waves-light" id="save_button" ng-click="saveEdits()"><i class="fa fa-floppy-o facebook_blue_icon"></i></a>
						<a class="btn-floating btn-large btn-flat waves-effect waves-light" id="delete_button" ng-click="deletePhoto()"><i class="fa fa-trash facebook_blue_icon"></i></a>
					</div>
					<div class="row">
						<div class="col s12" ng-show="!showMain" style="height: 26em;">
							<p class="frederika_placeholder">[Vistagrid]</p>
						</div>
						<div ng-show="showMain" class="card" style="border: solid #616161; border-width: thin; border-radius: 5px; height: 35em;">
							<div class="card-image" style="max-height: 24em; height: 24em; padding: 1em 21em;">
								<img ng-src="[[clickedPhoto.path]]" style="height: 80%; max-width: 100%;">
							</div>
							<div class="card-content">
								<div>
									<div ng-repeat="thumbnail in thumbnails" class="col s2">
										<img ng-src="[[ thumbnail.path ]]" ng-click="effectPreview(thumbnail.effect_id)" class="effects_thumbnail"/>
										<p class="effect_name_paragraph">[[ thumbnail.effect_name ]]</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div ng-show="!showMain" class="frederika_dash_instructions" style="height: 4em; margin: 1em; border-radius: 5px; width: auto; overflow-x: scroll; overflow-y: hidden; white-space: nowrap; padding-right: 1em; padding-left: 1em;">
							[[ uploads.length > 0 ? dashboardInstructions.hasUploads : dashboardInstructions.noUploads ]]
						</div>
					</div>
			</div>
		</div>
	</div> -->
<!-- </div> -->