<div class="row">
	<div id="beach_div">
		<div class="row">
			<div style="margin-top: 5em;">
				<div class="center" id="logo_div">
					<img id="logo" src="static/images/logo.png">
				</div>
			</div>
		</div>
		<div class="row">
			<p class="center" id="app_description">Upload. Prettify. Share.</p>
		</div>
		<div class="row">
			<div class="center" id="login_button_div">
				<a class="waves-effect waves-light btn" id="login_button" href="[[fb_url]]"><i class="fa fa-facebook-official" id="fb_logo"></i>Login with Facebook</a>
			</div>
		</div>
	</div>
</div>
